*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: rgb(223, 224, 225);
}

header{
    width: 100%;
    margin: auto;
    max-width: 1200px;
    background: linear-gradient(rgb(176, 176, 245), rgb(192, 5, 123));
    padding: 15px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


header h1{
    color: #fff;
    text-align: center;
    font-size: 30px;
}

header p{
    text-align: center;
    color: #fff;
}

.contenedor-total{
    width: 99%;
    max-width: 1200px;
    margin: auto;
    /*border: 4px dashed green;*/
    font-family: 'Poppins', sans-serif;
}

.contenedor-valores{
    display: flex;
    flex-direction: column;
    /*border: 2px solid blue;*/
    background: #fff;
}

.contenedor-valores .valor{
    /*border: 2px solid red;*/
    width: 100%;
    height: 100vh;
}

.contenedor-valores .valor h3{
    font-size: 35px;
    letter-spacing: 1px;
    color: rgb(49, 45, 45);
    margin: 20px 0 0 20px;
}

.contenedor-valores .valor p{
    margin-left: 20px;
    color: rgb(81, 78, 78);
}


.contenedor-valores .valor .figura{
    width: 150px;
    height: 150px;
    border: 10px solid pink;
    background-image: url(unicornio.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /*margin: 70px 0 170px 50px;*/
    margin: 70px auto;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    
}


.nota{
    background: pink;
    margin-bottom: 0;
}

.nota h4{
    padding: 20px 0 0 20px;
}

.nota p{
    padding: 5px 0 10px 10px;
    
}

hr{
    width: 90%;
    height: 5px;
    margin: auto;
    margin-bottom: 80px;
    background: #ff0051;
}

/*-----------------------------------------------------------------------ROTATE---------------------------------*/

.uno:hover{
  transform: rotate(45deg);
  transition: transform 1s linear;
}

.dos:hover{
    transform: rotate(-45rad);
    transition: transform 6s linear;
}

.tres:hover{
    transform: rotateX(60deg);
    transition: transform 1s linear;
}

.cuatro:hover{
    transform: rotateY(50deg);
    transition: transform 1s linear;
}

.cinco:hover{
    transform: rotateZ(80deg);
    transition: transform 1s linear;
}

/*---------------------------------------------------------------------------------transform-origin()------------------*/

.seis:hover{
    transform: rotate(30deg);
    transform-origin: right bottom;
    transition: transform 1s linear;
}

.siete:hover{
    transform: rotate(30deg);
    transform-origin: center top;
    transition: transform 1s linear;
}

.ocho:hover{
    transform: rotate(30deg);
    transform-origin: left top;
    transition: transform 1s linear;
}

.nueve:hover{
    transform: rotate(30deg);
    transform-origin: right top;
    transition: transform 1s linear;
}

.diez:hover{
    transform: rotate(30deg);
    transform-origin: center bottom;
    transition: transform 1s linear;
}


.once:hover{
    transform: rotate(30deg);
    transform-origin: left bottom;
    transition: transform 1s linear;
}

.doce:hover{
    transform: rotate(160deg);
    transform-origin: top left;
    transition: transform 5s linear;
}

.trece:hover{
    transform: rotate(360deg);
    transform-origin: center center;
    transition: transform 1s linear;
}


.catorce:hover{
    transform: rotate(30deg);
    transform-origin: 10% 15%;
    transition: transform 1s linear;
}

/*--------------------------------------------------------------------------translate----------------------------*/


.quince:hover{
    transform: translate(500px);
    transition: transform 6s linear;
}

.dieciseis:hover{
    transform: translate(-500px);
    transition: transform 6s linear;
}

.diecisiete:hover{
    transform: translateX(200px);
    transition: transform 6s linear;
}

.dieciocho:hover{
    transform: translateY(-150px);
    transition: transform 6s linear;
}

.diecinueve:hover{
    transform: translate(70px, 30px);
    transition: transform 5s linear;
}
